*{
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

html{
   font-size:100px;
   color:white;
   height:100%;
}
body{
	font-size:0.5rem;
  height:100%;
  background:#d7df8f;
  font-weight:600;
  margin:0;
}
@media screen and (min-width:320px){
 html{
    font-size:42.667px;
 }
}

@media screen and (min-width:360px){
 html{
     font-size:48px;
 }

} 
#root{
  width:100%;
  height:100%; 
} 
.app{
  display: flex;
  width:100%;
  height:100%;
  flex-direction:column;
  padding-bottom:0.5rem;
  box-sizing: border-box;
}
.tip{
  font-size:0.4rem;
  text-align:center;
  height:2rem;
  line-height:2rem;
}
.relsutLine{
  display: flex;
  padding-top:.5rem;
  justify-content:space-around;
  width:100%;
  box-sizing:border-box;
  flex:0 1 3.5rem;
}
.gameBox{
  display: flex;
  height:8rem;
  flex-flow:row wrap;
  justify-content: space-around;
  width:90%;
  box-sizing:border-box;
  margin:auto;
  margin-top:0;
  padding: 0.5rem 0.2rem 0 0.2rem;
  background:#ada66b;
}
.gameObj{
  width:1.5rem;
  height:1.5rem;
  text-align:center;
  line-height:1.5rem;
  background:#737938;
  box-sizing:border-box;
}
.box{
  background:orange;
  width:3rem;
  font-size:1rem;
  line-height:2.5rem;
  text-align:center;
}
.score{
  background:#8d9637;
  width:2.5rem;
  line-height:1.6rem;
  text-align:center;
  display:flex;
  flex-direction:column;
  justify-content:space-around;
}

